<ng-container *ngIf="apiLoaded | async; let apiLoaded; else inactive">

  <google-map (mapInitialized)="onMapReady($event)" [options]="options" [zoom]="2"> 
    <ng-container *ngIf="areaFiltrationStatus">
    <map-marker 
        *ngFor="let districts of districts"
        [position]="{ lat: districts.longitude, lng: districts.latitude }"
        [icon]="{ url: districts.icon, scaledSize: topSize}"
        (mapClick)="openDistrictsInfo($event,districts)"></map-marker>
      </ng-container>
      <ng-container *ngIf="!areaFiltrationStatus">
      <map-marker-clusterer
        [minimumClusterSize]="clusterOptions.minimumClusterSize"
        [gridSize]="clusterOptions.gridSize" 
        [styles]="clusterStyles">
        <map-marker 
          *ngFor="let branch of branches"
          [options]="branch.animation == 1.0? {animation: branch.animation}: {}"
          [position]="{ lat: branch.longitude, lng: branch.latitude }"
          [icon]="{ url: 'assets/fonts/sdb-icon-font/fonts/' + branch.icon +'.png', scaledSize: size}"
          (mapClick)="openInfoWindow(branch)">
        </map-marker>
        <map-directions-renderer
          *ngIf="(directionsResults$ | async) as directionsResults"
          [directions]="directionsResults"></map-directions-renderer>
      </map-marker-clusterer>
    </ng-container>
  </google-map>

   


  


  <app-map-project-info 
    *ngIf="showInfoWindow" 
    (closeEvent)="closeInfoWindow()" 
    (renderRoute)="routeToDirection($event)"
    [branchInfo]="selectedBranch">
  </app-map-project-info>

</ng-container>

<ng-template #inactive>
  <div class="loader">
    <img src="assets/images/loader.gif"/>
  </div>
</ng-template>
