.adv-search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #19aec8;
    padding: 8px;
    h4 {
        font-size: 16px;
    }
   
}


   @media (max-width: 1200px) { 
    .app-advanced-search {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}
.advanced-search-warp {

 
    box-shadow: none;
    margin-top: 0;
}

   }