<header>
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo-sdb-2030.svg" />
            </a>
            <!-- <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="text-center w-100">
                <h3 class="page-title">الخريطة التفاعلية</h3>
            </div>
        </nav>
    </div>
</header>