

<div class="position-relative">

    <div class="mab-filtration-warp">
        <ul class="menu-filter-list">
            <li class="{{financeView ? 'active' :''}}">
                <a href="#" (click)="openFinanceStats($event)">
                    <img src="assets/icons/statistics.svg">
                    <label>احصائيات التمويل</label>
                </a>
            </li>
            <li class="{{projectsView ? 'active' :''}}">
                <a href="#" (click)="openProjectsView($event)">
                    <img src="assets/icons/projects.svg">
                    <label>عرض المشاريع</label>
                </a>
            </li>
        </ul>
    </div>

    <div class="projects-view-filtration filter-section" *ngIf="projectsView">
        <div class="filter-dropdowns" *ngIf="!advancedSearch">
            <div class="container horizontal-scroll">
                <div class="row">
                    <!-- <div class="col-4 col-lg-2 mb-3">
                        <select
                            class="form-select statistics-interactive-map-select"
                            (change)="openFamiliesProjects($event, content)">
                            <option value selected disabled>اختر
                                مشاريع
                                الأسر
                                بالمنطقة</option>
                            <option
                                *ngFor="let district of districts"
                                [value]="district.nameAr">{{district.nameAr}}
                            </option>
                        </select>
                    </div> -->

                     <ng-multiselect-dropdown
                        class="col-4 col-lg-3  mb-3"
                        [placeholder]="'نشاط المشروع'"
                        [settings]="activitySettings"
                        [data]="activities"
                        (onSelect)="onActivitySelect($event)"
                        (onDeSelect)="onActivityDeSelect($event)"
                        
                        [(ngModel)]="activitySelectedValues">
                    </ng-multiselect-dropdown>

                    <ng-multiselect-dropdown
                        class="col-4 col-lg-3  mb-3"
                        [placeholder]="'المنطقة'"
                        [settings]="citiesDropdownSettings"
                        [data]="districts"
                        (onSelect)="onDistrictSelect($event)"
                        (onDeSelect)="onDistrictDeSelect()"
                        [(ngModel)]="districtSelectedValues">
                    </ng-multiselect-dropdown>

                    <!-- <div class="col-4 col-lg-2  mb-3">
                        <select
                            class="form-select statistics-interactive-map-select"
                            (change)="onDistrictStatisticsSelect($event)">
                            <option value selected disabled>اختر
                                احصائيات
                                المنطقة</option>
                            <option
                                *ngFor="let district of districts"
                                [value]="district.nameAr">{{district.nameAr}}
                            </option>
                        </select>
                    </div> -->

                   

                    <ng-multiselect-dropdown
                        class="col-4 col-lg-3 mb-3"
                        [placeholder]="'المدينة'"
                        [settings]="citiesDropdownSettings"
                        [data]="cities"
                        (onSelect)="onCitySelect($event)"
                        [(ngModel)]="citySelectedValues">
                    </ng-multiselect-dropdown>
                    <div class="col-4 col-lg-2  mb-3">
                        <button class="btn btn-primary custom-btn"
                            (click)="toggleAdvancedSearch($event)">
                            <label>{{advancedSearch ? 'إغلاق': 'بحث متقدم'}}</label>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <app-advanced-search
            *ngIf="advancedSearch"
            (filteredBranchesUpdated)="updateFilteredBranches($event)"
            (districtSelected)="updateDistrict($event)"
            (citySelected)="updateCity($event)"
            (closeAdvancedSearch)="closeAdsSearch()">
        </app-advanced-search>
    </div>

    <div class="map-warp">
        <div class="sidebar" *ngIf="financeView">
            <h3 class="side-title">
                <img src="assets/icons/statistics.svg">
                احصائيات المنطقة
            </h3>
            <div class="side-bar-content">
                <div class="mb-3">
                    <select
                        class="form-select statistics-interactive-map-select"
                        (change)="onDistrictStatisticsSelect($event)">
                        <option value selected disabled>اختر احصائيات المنطقة
                        </option>
                        <option *ngFor="let district of districts"
                            [value]="district.nameAr">{{district.nameAr}}
                        </option>
                    </select>
                </div>
                 <app-map-statistics
                *ngIf="showStatistics"
                (closeStatistics)="closeStatistics()"
                [selectedDistrict]="selectedDistrictStatistics">
            </app-map-statistics>
            </div>

           
        </div>
        <app-maps
            [financeStats]="financeStats"
            [projectsView]="projectsView"
            [branches]="filteredBranches"
            [districtLocation]="districtLocation"
            [cityLocation]="cityLocation"
            [centerPoint]="markerCenter"
            [selectedDistrict]="selectedDistrictStatistics"
            (actionTaken)="onDistrictStat($event.nameAr)">
        </app-maps>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">مشاريع الأسر المنتجة في
            {{selectedFamilyDistrict}} </h4>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>المشاريع</th>
                    <th>الحي</th>
                    <th>النشاط</th>
                    <th>التفاصيل</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>اسم المشروع</td>
                    <td>حي الملز</td>
                    <td>مقاهي وحلويات</td>
                    <td>
                        <a href="javascript:;" class="link">أظهر التفاصيل</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>