<footer>
   

    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="side">
                <div class="align-items-center d-flex justify-content-between ">

                    <img src="assets/images/logo-sdb-2030.svg" class="footer-logo" />
                       <ul class="social-links mb-0">
                        <li>
                            <a href="#" class="social-link"><span class="icon-instagram"></span></a>
                        </li>
                        <li>
                            <a href="#" class="social-link"><span class="icon-youtube"></span></a>
                        </li>
                        <li>
                            <a href="#" class="social-link"><span class="icon-snapchat"></span></a>
                        </li>
                        <li>
                            <a href="#" class="social-link"><span class="icon-twitter"></span></a>
                        </li>
                        <li>
                            <a href="#" class="social-link"><span class="icon-facebook"></span></a>
                        </li>
                    </ul>
                </div>
                <p> &copy;جميع الحقوق محفوظة <a href="#">لبنك التنمية الاجتماعية</a> 2022</p>
            </div>
            <div class="side">
                <h4 class="footer-title">تحميل تطبيقات المحمول</h4>
                        <ul class="download-app-links">
                            <li><a href="#" class="download-app-link"><span class="icon-apple"></span></a></li>
                            <li><a href="#" class="download-app-link"><span class="icon-google-play"></span></a></li>
                            <li><a href="#" class="download-app-link"><span class="icon-huawei"></span></a></li>
                        </ul>
            </div>
        </div>
        
    </div>
</footer>